<div class="container-fluid" id="aside_container">
    <h2 class="titulo">
        Contacto
    </h2>
    <div class="container-fluid" id="aside_menu_container">
        <div class="btn-group-vertical"> 
            <div class="btn-group" role="group" aria-label="Third group">
              <button type="button" class="btn_menu active">
                <a target="_blank" class="fcc-btn" href="https://www.instagram.com/ana.caseres1/">Instagram</a>
                <img src="../../../assets/image/ig.jpg" width="50px">
              </button>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn_menu active">
                    <a target="_blank" class="fcc-btn" href="https://www.facebook.com/ana.caseres.7/">Facebook</a>
                    <img src="../../../assets/image/fb.png" width="50px">
                </button>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn_menu active">
                    <a target="_blank" class="fcc-btn" href="https://twitter.com/AnaCaseres14">Twitter</a>
                    <img src="../../../assets/image/tw.jpg" width="50px">
                </button>
            </div>
        </div>
    </div>
</div>

