.container-fluid{
    width: 100%;
    height: 100%;
    background:rgb(128, 128, 128);
    position: fixed;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 700;
    font-size: 30px;
}

.yo{
    font-family: Arial;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
}

.texto{
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
