<app-header></app-header>
<app-aside></app-aside>

<div class="d-flex justify-content-center my-4">
 
        <div class="container-fluid">
            <body style="position: relative; top: -65px; float: left; margin: auto;">
            <div>
                <h1>Ana Caseres
                    <button type="button" class="btn btn-info">Ver Portfolio</button>
                </h1>
                
                <h5>Analista Programador Universitario <br> Jujuy, Argentina</h5>
                <h5>Acerca De</h5>
                <p>
                    Me recibí de APU en 2022, me especializo en Back-End y Front-End, actualmente estoy estudiando
                    la carrera Tecnicatura Universitaria en Diseño Integral de VideoJuegos, ya que el mundo de la programación me llama
                    mucho la atención.
                    Siéntanse libres de mirar mi portfolio donde estaré mostrando los proyectos en los
                    que trabajé a lo largo de mi carrera.
                </p>
                <h5>Educación</h5>
                <img src="../../../assets/image/unju.jpg" alt="UNJU" width="150px">
                <br>Analista Programador Universitario[2020-2022, Finalizada]<br>
                Tecnicatura Universitaria en Desarrollo Integral de Videojuegos [Actual]   
            </div>
        </body>

  </div>
</div>