<app-header></app-header>
<div class="container-fluid">
    <div class="yo">
        Hola, mi nombre es Ana Caseres! <br>
    </div>
    <div class="texto">
        Soy APU (Analista Programador Universitario), me especializo en Back-End y Front-End, actualmente estoy estudiando
        la carrera Tecnicatura Universitaria en Diseño Integral de VideoJuegos, ya que el mundo de la programación me llama
        mucho la atención.
        Siéntanse libres de mirar mi portfolio donde estaré mostrando los proyectos en los
        que trabajé a lo largo de mi carrera.
    </div>
</div>